@font-face {
font-family: "Righteous";
src: url('/public/files/fonts/Righteous-Regular.ttf');
}
  
@font-face {
font-family: "Orbitron";
src: url('/public/files/fonts/Orbitron-VariableFont_wght.ttf');
}

body {
min-height: 100vh;
text-rendering: optimizeSpeed;
line-height: 1.5;
background-color:black;  
color: white;
font-family: 'Orbitron', sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
}


.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 100vh;
  }

.title {
    position: fixed;
    left: 0; right: 0;
    margin: auto;
    top: 20px;
    width: 80%;
    height: 50px;
    padding: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    z-index: 100;
  }
  
.title::after {
content: "⚔";
display: block;
position: absolute;
bottom: 12px;
left: 20px;
}
  
.title::before {
content: '⚝';
display: block;
position: absolute;
top: 12px;
right: 20px;
}

h1 {
font-family: 'Righteous', cursive;
text-shadow: 0px 0px 20px #000000;
}
  
.left-side  {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 70% 30%;
}
  
.left-side__illustration {
background-image: url('https://unsplash.it/1920/1080/?random');
background-size: cover;
border-top-left-radius: 200px;
border-bottom-right-radius: 30px;
margin: 10px;
padding: 10px;
position: relative;
}
  
.left-side__description {
background-color:rgb(196, 123, 50);
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
margin: 10px;
padding: 10px;
text-align: center;
position: relative;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Orbitron', sans-serif;
font-size: 16px;
letter-spacing: 3px;
border: 4px solid white;
}
  
.left-side__description::after {
content: '';
display: block;
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
position: absolute;
bottom: 20px;
left: 20px;
}
  
.left-side__description::before {
content: '';
display: block;
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
position: absolute;
top: 20px;
right: 20px;
}
  
.right-side {
width: 100%;
height: 100%;
display: grid;
grid-template-columns: 100%;
grid-template-rows: 35% 65%;
position: relative;
}
  
.right-side__top {
background-color: rgb(196, 123, 50);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: calc(100% -20 px);
margin: 10px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
text-align: center;
border: 4px solid white;
}

.right-side__top > h2 {
font-size: 45px;
line-height: 150%;
}
  
[type=radio] { 
position: absolute;
opacity: 0;
width: 0;
height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
cursor: pointer;
}
  
  
.sign-pick {
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
position: relative;
top: -70px;
width: 100%;
aspect-ratio: 1 / 1;
margin: auto;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
transition: background-image ease-in-out 2s;
}
  
.sign-blur-effect {
width: 50%;
aspect-ratio: 1 / 1;
border-radius: 50%;
backdrop-filter: blur(10px);
background-color: rgba(255, 255, 255, 0.05);   
display: flex;
justify-content: center;
align-items: center;
border: solid white 2px;
}
  
.sign-blur-effect > img {
position: absolute;
margin: auto; 
width: 50%;
aspect-ratio: 1 / 1;
}
  
.sign-element {
width: 10%;
height: 10%;
position: absolute;
}
  
.sign-element:nth-child(2) {
  top: 3%;
}
  
.sign-element:nth-child(3) {
  top: 8.67%;
  right: 25.34%;
}

.sign-element:nth-child(3) > .sign-box > img {
  transform: rotate(30deg)
}

.sign-element:nth-child(4) {
  top: 25.67%;
  right: 8.34%;
}

.sign-element:nth-child(4) > .sign-box > img {
  transform: rotate(60deg)
}

.sign-element:nth-child(5) {
  right: 3%;
}

.sign-element:nth-child(5) > .sign-box > img {
  transform: rotate(90deg)
}

.sign-element:nth-child(6) {
  bottom: 25.67%;
  right: 8.34%;
}

.sign-element:nth-child(6) > .sign-box > img {
  transform: rotate(120deg)
}

.sign-element:nth-child(7) {
  bottom: 8.67%;
  right: 25.34%;
}

.sign-element:nth-child(7) > .sign-box > img {
  transform: rotate(150deg)
}

.sign-element:nth-child(8) {
  bottom: 3%;
}

.sign-element:nth-child(8) > .sign-box > img {
  transform: rotate(180deg)
}

.sign-element:nth-child(9) {
  bottom: 8.67%;
  left: 25.34%;
}

.sign-element:nth-child(9) > .sign-box > img {
  transform: rotate(210deg)
}

.sign-element:nth-child(10) {
  bottom: 25.67%;
  left: 8.34%;
}

.sign-element:nth-child(10) > .sign-box > img {
  transform: rotate(240deg)
}

.sign-element:nth-child(11) {
  left: 3%;
}

.sign-element:nth-child(11) > .sign-box > img {
  transform: rotate(270deg)
}

.sign-element:nth-child(12) {
  top: 25.67%;
  left: 8.34%;
}

.sign-element:nth-child(12) > .sign-box > img {
  transform: rotate(300deg)
}

.sign-element:nth-child(13) {
  top: 8.67%;
  left: 25.34%;
}

.sign-element:nth-child(13) > .sign-box > img {
  transform: rotate(330deg)
}

.small-device-description 
  {
    display: none;
  }