@media (max-width: 800px) {
    .left-side 
    {
        display: none;
    }

    .content 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .small-device-description 
    {
        display: block;
    }

    .title 
    {
        position: initial;
        margin: unset;
        margin-top: 20px;

    }

    .sign-pick 
    {
        top: 0;
    }

    .right-side 
    {
        width: 90%;
    }

    .right-side__top 
    {
        justify-content: space-around;
        padding: 10px;
        flex: 1;
    }
}